:root {
  --rvi-ratio: calc(2.5 / 3.5); /* 2.5" x 3.5" poker card size */
  --rvi-gut: calc(.5 / (2.5 * 2.54) ); /* 5mm radius on 2.5" wide card */
  --rvi-gutp: 0.9%;
  --rvi-bar: calc(267/2260);
  --rvi-pad: 1em;
  --rvi-scl: scale3D(1.5, 1.5, 1);
  --rvi-jif: .31s;
  --rvi-col: 4;
  --rvi-han: 40%;
  --rvi-spot: #1010a7;  /* Spot color */
  --rvi-lo: #fdfd00; /* Spectrum start */
  --rvi-mid: #10fc10; /* Spectrum middle */
  --rvi-mod: 80.885%; /* Modulor */
  /* Modulor abstract limited rainbow symbolising limited visibility */
  --rvi-gre: linear-gradient(#eee 0%, #eee 100%);
  --rvi-blk: linear-gradient(#000 0%, #000 100%);
  --rvi-rnb: linear-gradient(
    90deg,
    var(--rvi-lo),
    var(--rvi-lo) 50%,
    var(--rvi-mid) 50%,
    var(--rvi-mid) var(--rvi-mod),
    var(--rvi-spot) var(--rvi-mod),
    var(--rvi-spot) 100%
  );
  /* TV lines */
  --rvi-tvl: repeating-linear-gradient(to bottom,
      rgba(17,17,17,.5),
      rgba(17,17,17,.5) 2px,
      rgba(17,17,17,1) 2px,
      rgba(17,17,17,1) 4px
    );
  --rvi-com: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.5 33.87">%3Cpath d="M2.41,12.08h3v3.26A7,7,0,0,1,7.23,13a4.68,4.68,0,0,1,3.32-1.37l.3,0,.72.07v3.34c-.19,0-.36-.06-.52-.07l-.52,0a4.52,4.52,0,0,0-3.67,1.54,5.37,5.37,0,0,0-1.29,3.54V30.91H2.41Z" transform="translate(-2.41 -5)"/>%3Cpath d="M28,14c1.66,1.62,2.5,4,2.5,7.13a12.33,12.33,0,0,1-2.2,7.52c-1.47,2-3.74,3-6.83,3A7.71,7.71,0,0,1,15.29,29a10.42,10.42,0,0,1-2.26-7,11.23,11.23,0,0,1,2.39-7.55,8,8,0,0,1,6.42-2.81A8.45,8.45,0,0,1,28,14ZM26,26.48a11.88,11.88,0,0,0,1.16-5.3,9.59,9.59,0,0,0-.83-4.28,4.69,4.69,0,0,0-4.56-2.6,4.49,4.49,0,0,0-4.17,2.21,10.36,10.36,0,0,0-1.3,5.34,9,9,0,0,0,1.3,5,4.57,4.57,0,0,0,4.14,2A4.3,4.3,0,0,0,26,26.48Z" transform="translate(-2.41 -5)"/>%3Cpath d="M34.42,5.09h3.16V30.91H34.42Z" transform="translate(-2.41 -5)"/>%3Cpath d="M52.42,19.52a1.74,1.74,0,0,0,1.46-.91,2.85,2.85,0,0,0,.21-1.22A2.59,2.59,0,0,0,52.94,15a6.13,6.13,0,0,0-3.29-.73,4.18,4.18,0,0,0-3.51,1.34,4.45,4.45,0,0,0-.75,2.21h-3q.09-3.5,2.26-4.86a9.24,9.24,0,0,1,5-1.36,10.26,10.26,0,0,1,5.39,1.26,4.3,4.3,0,0,1,2,3.94V27.68a1.34,1.34,0,0,0,.21.79,1,1,0,0,0,.85.3l.47,0c.18,0,.37,0,.57-.08V31a8.17,8.17,0,0,1-1.13.26,7.24,7.24,0,0,1-1.05.06,2.63,2.63,0,0,1-2.38-1.16,4.52,4.52,0,0,1-.54-1.74,8.1,8.1,0,0,1-2.78,2.19,8.62,8.62,0,0,1-4,.93A6,6,0,0,1,43.11,30a5.28,5.28,0,0,1-1.66-4,5.12,5.12,0,0,1,1.63-4.06,7.76,7.76,0,0,1,4.29-1.77Zm-6.66,8.55a3.73,3.73,0,0,0,2.37.78,7.14,7.14,0,0,0,3.23-.77A4.34,4.34,0,0,0,54,23.89V21.34a5.18,5.18,0,0,1-1.49.62,13.14,13.14,0,0,1-1.79.35l-1.91.25a7.31,7.31,0,0,0-2.59.72,2.79,2.79,0,0,0-1.47,2.63A2.61,2.61,0,0,0,45.76,28.07Z" transform="translate(-2.41 -5)"/>%3Cpath d="M62.35,12.08h3v2.68a8.43,8.43,0,0,1,2.83-2.38,7.52,7.52,0,0,1,3.32-.72q4,0,5.41,2.8a9.84,9.84,0,0,1,.78,4.37V30.91H74.48V19.05A6.42,6.42,0,0,0,74,16.27a3.09,3.09,0,0,0-3.06-1.76,6.38,6.38,0,0,0-1.85.23,4.77,4.77,0,0,0-2.28,1.55,4.64,4.64,0,0,0-1,1.92,12.82,12.82,0,0,0-.24,2.84v9.86H62.35Z" transform="translate(-2.41 -5)"/>%3Cpath d="M92.72,12.67a8.54,8.54,0,0,1,1.9,1.84V5h3V30.91H94.82V28.29a7,7,0,0,1-2.61,2.52,7.55,7.55,0,0,1-3.45.77,7,7,0,0,1-5.43-2.65,10.36,10.36,0,0,1-2.29-7,12.13,12.13,0,0,1,2.09-7.12,6.84,6.84,0,0,1,6-3A6.67,6.67,0,0,1,92.72,12.67ZM85.65,26.78a4.47,4.47,0,0,0,4.09,2,4.31,4.31,0,0,0,3.6-1.89,9,9,0,0,0,1.41-5.42,8.13,8.13,0,0,0-1.45-5.29,4.54,4.54,0,0,0-3.59-1.71,4.73,4.73,0,0,0-3.86,1.83,8.44,8.44,0,0,0-1.47,5.38A9.38,9.38,0,0,0,85.65,26.78Z" transform="translate(-2.41 -5)"/>%3Cpath d="M104,12.08l5,15.33,5.23-15.33h3.47l-7.09,18.83h-3.37l-7-18.83Z" transform="translate(-2.41 -5)"/>%3Cpath d="M130.48,19.52a1.73,1.73,0,0,0,1.46-.91,2.85,2.85,0,0,0,.21-1.22A2.59,2.59,0,0,0,131,15a6.1,6.1,0,0,0-3.29-.73,4.17,4.17,0,0,0-3.5,1.34,4.44,4.44,0,0,0-.76,2.21h-3q.09-3.5,2.25-4.86a9.27,9.27,0,0,1,5-1.36,10.3,10.3,0,0,1,5.4,1.26,4.32,4.32,0,0,1,2,3.94V27.68a1.42,1.42,0,0,0,.2.79,1,1,0,0,0,.85.3l.48,0c.17,0,.36,0,.56-.08V31a8.11,8.11,0,0,1-1.12.26,7.29,7.29,0,0,1-1.06.06,2.6,2.6,0,0,1-2.37-1.16,4.51,4.51,0,0,1-.55-1.74,8.06,8.06,0,0,1-2.77,2.19,8.62,8.62,0,0,1-4,.93A6,6,0,0,1,121.18,30a5.28,5.28,0,0,1-1.67-4,5.12,5.12,0,0,1,1.64-4.06,7.76,7.76,0,0,1,4.29-1.77Zm-6.66,8.55a3.75,3.75,0,0,0,2.37.78,7.15,7.15,0,0,0,3.24-.77,4.33,4.33,0,0,0,2.63-4.19V21.34a5.06,5.06,0,0,1-1.49.62,12.85,12.85,0,0,1-1.79.35l-1.91.25a7.24,7.24,0,0,0-2.58.72,2.79,2.79,0,0,0-1.47,2.63A2.6,2.6,0,0,0,123.82,28.07Z" transform="translate(-2.41 -5)"/>%3Cpath d="M140.41,12.08h3v2.68a8.43,8.43,0,0,1,2.83-2.38,7.55,7.55,0,0,1,3.32-.72q4,0,5.42,2.8a10,10,0,0,1,.77,4.37V30.91h-3.22V19.05a6.42,6.42,0,0,0-.51-2.78A3.09,3.09,0,0,0,149,14.51a6.33,6.33,0,0,0-1.85.23,4.75,4.75,0,0,0-2.29,1.55,4.61,4.61,0,0,0-1,1.92,12.82,12.82,0,0,0-.24,2.84v9.86h-3.17Z" transform="translate(-2.41 -5)"/>%3Cpath d="M160.44,5.09h3.21V8.67h-3.21Zm0,7.08h3.21V30.91h-3.21Z" transform="translate(-2.41 -5)"/>%3Cpath d="M168.17,12.17h3.09v2.5a7.77,7.77,0,0,1,2.08-2,6.74,6.74,0,0,1,3.77-1,7.12,7.12,0,0,1,5.45,2.45c1.49,1.63,2.24,4,2.24,7q0,6.17-3.23,8.79a7.26,7.26,0,0,1-4.76,1.67,6.52,6.52,0,0,1-3.59-.93,8.32,8.32,0,0,1-1.89-1.81v9.62h-3.16Zm11.9,14.76a8.77,8.77,0,0,0,1.48-5.55,10.36,10.36,0,0,0-.65-3.86,4.8,4.8,0,0,0-9,.17,13.12,13.12,0,0,0-.65,4.47,9.55,9.55,0,0,0,.65,3.71,4.81,4.81,0,0,0,8.21,1.06Z" transform="translate(-2.41 -5)"/>%3Cpath d="M200.08,12.6A7.1,7.1,0,0,1,202.93,15a8.39,8.39,0,0,1,1.26,3.32,21.58,21.58,0,0,1,.28,4.15H190.78a8.07,8.07,0,0,0,1.34,4.61A4.47,4.47,0,0,0,196,28.85a5,5,0,0,0,3.92-1.64A5.4,5.4,0,0,0,201.09,25h3.12a6.77,6.77,0,0,1-.82,2.32,8.23,8.23,0,0,1-1.55,2.08,7.31,7.31,0,0,1-3.54,1.9,10.59,10.59,0,0,1-2.57.28A7.84,7.84,0,0,1,189.81,29a10,10,0,0,1-2.43-7.16,10.87,10.87,0,0,1,2.45-7.37,8.06,8.06,0,0,1,6.39-2.83A8.55,8.55,0,0,1,200.08,12.6Zm1.14,7.4a8.34,8.34,0,0,0-.89-3.29A4.55,4.55,0,0,0,196,14.42,4.74,4.74,0,0,0,192.4,16a5.89,5.89,0,0,0-1.55,4Z" transform="translate(-2.41 -5)"/>%3Cpath d="M208.48,12.08h3v2.68a8.52,8.52,0,0,1,2.83-2.38,7.6,7.6,0,0,1,3.33-.72q4,0,5.41,2.8a10,10,0,0,1,.77,4.37V30.91h-3.21V19.05a6.42,6.42,0,0,0-.51-2.78A3.11,3.11,0,0,0,217,14.51a6.33,6.33,0,0,0-1.85.23,5.18,5.18,0,0,0-3.31,3.47,12.82,12.82,0,0,0-.24,2.84v9.86h-3.16Z" transform="translate(-2.41 -5)"/>%3Cpath d="M228.23,5h3.08v9.37a7.14,7.14,0,0,1,2.49-2.07,7.06,7.06,0,0,1,3.14-.71A7.4,7.4,0,0,1,242.67,14q2.19,2.41,2.19,7.13a12.19,12.19,0,0,1-2.17,7.42,7.05,7.05,0,0,1-6,3,6.2,6.2,0,0,1-3.64-1,8.56,8.56,0,0,1-1.89-2v2.41h-2.92Zm12.1,21.67a9.91,9.91,0,0,0,1.28-5.37,8.77,8.77,0,0,0-1.28-4.93,4.2,4.2,0,0,0-3.76-2,5.27,5.27,0,0,0-3.8,1.6q-1.64,1.61-1.63,5.28a11.51,11.51,0,0,0,.67,4.3,4.61,4.61,0,0,0,4.67,3.11A4.23,4.23,0,0,0,240.33,26.67Z" transform="translate(-2.41 -5)"/>%3Cpath d="M251.68,12.08v12.5a5.37,5.37,0,0,0,.45,2.36,3.1,3.1,0,0,0,3.06,1.69,4.34,4.34,0,0,0,4.39-3,12,12,0,0,0,.63-4.34V12.08h3.16V30.91h-3l0-2.78a6.18,6.18,0,0,1-1.5,1.81,6.5,6.5,0,0,1-4.31,1.48q-4,0-5.38-2.69a8.09,8.09,0,0,1-.78-3.85V12.08Z" transform="translate(-2.41 -5)"/>%3Cpath d="M268.63,12.08h3v3.26A6.82,6.82,0,0,1,273.45,13a4.68,4.68,0,0,1,3.32-1.37l.3,0,.72.07v3.34c-.19,0-.36-.06-.52-.07l-.52,0a4.52,4.52,0,0,0-3.67,1.54,5.37,5.37,0,0,0-1.29,3.54V30.91h-3.16Z" transform="translate(-2.41 -5)"/>%3Cpath d="M291,12.84a8.93,8.93,0,0,1,1.82,1.79V12.26h2.91V29.38A12.67,12.67,0,0,1,294.68,35c-1.3,2.56-3.78,3.83-7.41,3.83a9,9,0,0,1-5.09-1.36,5.34,5.34,0,0,1-2.32-4.26h3.22a3.56,3.56,0,0,0,.91,2,4.62,4.62,0,0,0,3.35,1q3.63,0,4.74-2.56a14.52,14.52,0,0,0,.61-5.4,6.19,6.19,0,0,1-2.27,2.15A8.15,8.15,0,0,1,281.57,29q-2.29-2.17-2.29-7.18c0-3.15.77-5.62,2.3-7.38a7.12,7.12,0,0,1,5.56-2.66A6.82,6.82,0,0,1,291,12.84Zm.38,3.39a4.58,4.58,0,0,0-3.65-1.68,4.52,4.52,0,0,0-4.55,3.12,12.41,12.41,0,0,0-.65,4.38,7.76,7.76,0,0,0,1.29,4.84,4.15,4.15,0,0,0,3.45,1.67,4.86,4.86,0,0,0,4.78-3.08,10,10,0,0,0,.77-4.06A7.88,7.88,0,0,0,291.38,16.23Z" transform="translate(-2.41 -5)"/>%3Cpath d="M301.31,27.08H305v3.83h-3.67Z" transform="translate(-2.41 -5)"/>%3Cpath d="M323,13.09q2,1.54,2.4,5.32h-3.08A5.6,5.6,0,0,0,321,15.52a4.05,4.05,0,0,0-3.22-1.15,4.44,4.44,0,0,0-4.32,3,11.76,11.76,0,0,0-.84,4.72,8.85,8.85,0,0,0,1.19,4.76,4.64,4.64,0,0,0,6.88.73,6.53,6.53,0,0,0,1.59-3.28h3.08a8.2,8.2,0,0,1-2.64,5.47,8.17,8.17,0,0,1-5.39,1.74,7.2,7.2,0,0,1-5.89-2.7,10.31,10.31,0,0,1-2.2-6.74q0-5,2.41-7.72a7.77,7.77,0,0,1,6.13-2.76A8.23,8.23,0,0,1,323,13.09Z" transform="translate(-2.41 -5)"/>%3Cpath d="M342.19,14q2.51,2.43,2.5,7.13a12.26,12.26,0,0,1-2.2,7.52q-2.21,3-6.82,3A7.68,7.68,0,0,1,329.54,29a10.42,10.42,0,0,1-2.27-7,11.28,11.28,0,0,1,2.39-7.55,8,8,0,0,1,6.42-2.81A8.45,8.45,0,0,1,342.19,14Zm-2,12.52a12,12,0,0,0,1.16-5.3,9.45,9.45,0,0,0-.84-4.28A4.69,4.69,0,0,0,336,14.3a4.47,4.47,0,0,0-4.17,2.21,10.36,10.36,0,0,0-1.31,5.34,9,9,0,0,0,1.31,5,4.54,4.54,0,0,0,4.13,2A4.31,4.31,0,0,0,340.23,26.48Z" transform="translate(-2.41 -5)"/>%3Cpath d="M348.57,12.08h3.13v2.68a10.31,10.31,0,0,1,2-2,6.12,6.12,0,0,1,3.55-1.08,5.57,5.57,0,0,1,3.62,1.11,5.67,5.67,0,0,1,1.41,1.86,6.56,6.56,0,0,1,5.68-3q3.79,0,5.17,2.75a9,9,0,0,1,.73,4V30.91h-3.28V17.83a3.06,3.06,0,0,0-.94-2.58,3.72,3.72,0,0,0-2.3-.7,4.53,4.53,0,0,0-3.2,1.24c-.9.84-1.35,2.22-1.35,4.17v11h-3.22V18.62a6.48,6.48,0,0,0-.45-2.79,2.79,2.79,0,0,0-2.69-1.32,4.62,4.62,0,0,0-3.26,1.39c-1,.93-1.47,2.6-1.47,5v10h-3.17Z" transform="translate(-2.41 -5)"/>%3C/svg>');
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
	color: #fff;
	background-color: #000;
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
  min-height: 360px;
  overflow: hidden;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

a {
  color: inherit;
}

::selection {
  background-color: transparent;
}

.rvi-dck {
	text-align: center;
	padding: .9%;
	margin: 0;
  width: 100%;
  position: relative;
}

.rvi-dck > li {
  position: relative;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 23.2%;
  margin: var(--rvi-gutp);
	border: 1px solid #000;
  border-radius: calc(100% * var(--rvi-gut) ) / calc(100% * var(--rvi-gut) * var(--rvi-ratio) );
	background-color: #fff;
	background-image: var(--rvi-rnb), var(--rvi-gre);
	background-repeat: no-repeat;
	background-size: 100% calc(100% * var(--rvi-bar));
  background-position: 50% 0%, 50% 100%;
}

/* Force three items on a row instead of four */
.rvi-dck > li:nth-of-type(1),
.rvi-dck > li:nth-of-type(12) {
  margin-left: calc(100% / (var(--rvi-col) * 2) );
}

.rvi-dck > li:before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: transparent;
  -webkit-mask: var(--rvi-blk) no-repeat 50% 88%/100% 1px;
  /*
  background-color: #000;
  -webkit-mask: var(--rvi-blk) no-repeat 50% 50%/1px 100%;
  */
  padding-bottom: calc(100% / var(--rvi-ratio) );
}

.rvi-dck > li:after {
	content: "";
	position: absolute;
	top: calc(100% - (100% * var(--rvi-bar) ) );
	right: 0;
	bottom: 0;
	left: 0;
  background-color: #111;
  -webkit-mask: var(--rvi-com) no-repeat 50% 50%/80% auto;
}

.rvi-dck > li > label {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  --rvi-mask: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1307.76 67.21">%3Cpath d="M26.03 29.03q3.25 5.72 3.26 16.23t-3.26 16.2q-3.27 5.64-11.39 5.69T3.26 61.46Q-.01 55.77 0 45.26t3.26-16.23q3.27-5.72 11.38-5.71t11.39 5.71zM9.72 56.47q1.2 3.88 4.92 3.88t4.88-3.88a41.56 41.56 0 0 0 1.16-11.21q0-7.66-1.16-11.37a4.73 4.73 0 0 0-4.88-3.69 4.79 4.79 0 0 0-4.92 3.69q-1.2 3.7-1.2 11.37a40.11 40.11 0 0 0 1.2 11.21zM82.88 31.52V28.1a19.7 19.7 0 0 0 4.24-.45 4.92 4.92 0 0 0 1.65-.84 3.6 3.6 0 0 0 1.35-1.71 4.7 4.7 0 0 0 .35-1.53h4.81V49.1h-5.87V31.52zm32.43-7.76h4.73L94.4 67.21h-4.73zm7.15 21.84a3.69 3.69 0 0 0-2.82-1c-1.68 0-2.8.55-3.37 1.64a7.53 7.53 0 0 0-.55 3.13h-5.28a9.07 9.07 0 0 1 2.58-6.76 9.35 9.35 0 0 1 6.59-2.26 9.84 9.84 0 0 1 6.82 2.3 7.91 7.91 0 0 1 1.08 10.43 15.07 15.07 0 0 1-4.29 3.76l-2.23 1.38c-.47.29-.84.54-1.11.73l-1.12.79c-.35.28-.69.58-1 .9a3.59 3.59 0 0 0-.74.92h12v4.54h-18.9c.06-4.08 2.31-7.61 6.74-10.56a36.18 36.18 0 0 0 5.55-4.35 4.3 4.3 0 0 0 1-2.9 3.81 3.81 0 0 0-.95-2.69zM185.71 36.8v-5.7a36.27 36.27 0 0 0 5.52-.53 7.76 7.76 0 0 0 4.09-2.22 7.35 7.35 0 0 0 1.64-3 7.21 7.21 0 0 0 .32-1.7h7V66.1h-8.55V36.8zM268.76 57.74q1.8-4.24 8.44-9a62.13 62.13 0 0 0 7.47-5.92 8.74 8.74 0 0 0 2.61-6.09 6.81 6.81 0 0 0-1.49-4.49 5.28 5.28 0 0 0-4.28-1.78c-2.54 0-4.27.94-5.19 2.84a14.08 14.08 0 0 0-.93 5.21h-8.12a20.47 20.47 0 0 1 2-8.76q3.33-6.34 11.87-6.35 6.75 0 10.74 3.73a12.91 12.91 0 0 1 4 9.89 13.36 13.36 0 0 1-2.81 8.38 28.19 28.19 0 0 1-6.08 5.42l-3.35 2.37q-3.14 2.24-4.29 3.22a9.44 9.44 0 0 0-1.95 2.32h18.54v7.37H266.8a20 20 0 0 1 1.96-8.36zM358.12 53.1a9.48 9.48 0 0 0 .82 4.21q1.51 3.08 5.52 3.08a6.1 6.1 0 0 0 4.28-1.68 6.27 6.27 0 0 0 1.83-4.85c0-2.8-1.13-4.66-3.39-5.6a17.06 17.06 0 0 0-6.07-.79v-6a15.69 15.69 0 0 0 5.66-.79q2.78-1.23 2.78-5a5.58 5.58 0 0 0-1.43-3.95 5.18 5.18 0 0 0-4-1.53 5 5 0 0 0-4.35 1.9 8 8 0 0 0-1.33 5h-7.79a21.23 21.23 0 0 1 1.08-6 13.57 13.57 0 0 1 3.22-4.6 11.17 11.17 0 0 1 3.89-2.28 16.81 16.81 0 0 1 5.53-.79q6.09 0 9.82 3.15a10.48 10.48 0 0 1 3.73 8.45 9.37 9.37 0 0 1-2.22 6.33 7.68 7.68 0 0 1-2.93 2.19c.76 0 1.85.66 3.28 2a10.47 10.47 0 0 1 3.19 8.08 13.6 13.6 0 0 1-3.73 9.47q-3.74 4.08-11.05 4.09-9 0-12.52-5.89a17.42 17.42 0 0 1-2.05-8.2zM441.59 54.72a8 8 0 0 0 1.9 4.21 5.35 5.35 0 0 0 4.09 1.48 5.53 5.53 0 0 0 4.72-2.18 9 9 0 0 0 1.62-5.5 9.56 9.56 0 0 0-1.52-5.49 5.32 5.32 0 0 0-4.73-2.24 8.2 8.2 0 0 0-2.63.38 5.26 5.26 0 0 0-3 2.61l-7.48-.35 3-23.47h23.37v7.09H443.6l-1.48 9.29a17 17 0 0 1 3-1.67 12.71 12.71 0 0 1 4.42-.68 13.21 13.21 0 0 1 9.18 3.55q3.9 3.54 3.9 10.35a16.25 16.25 0 0 1-3.77 10.52q-3.78 4.62-11.3 4.63a15 15 0 0 1-9.95-3.26q-3.9-3.24-4.33-9.23zM518.26 47.84a10.23 10.23 0 0 1 4.73-4.36 9.94 9.94 0 0 1-4-4.44 12.39 12.39 0 0 1-.93-4.47 10.43 10.43 0 0 1 3.5-7.9q3.48-3.26 9.86-3.26t9.87 3.26a10.42 10.42 0 0 1 3.49 7.9 12.57 12.57 0 0 1-.92 4.47 8.55 8.55 0 0 1-4 4.14 11.82 11.82 0 0 1 4.74 4.66 13.22 13.22 0 0 1 1.59 6.47 12.11 12.11 0 0 1-4 9.13q-4 3.76-11.1 3.77t-10.79-3.77a12.61 12.61 0 0 1-3.66-9.13 13 13 0 0 1 1.62-6.47zm8.68 10.78a6.72 6.72 0 0 0 9 0 6.83 6.83 0 0 0 1.62-4.86 6.79 6.79 0 0 0-1.65-4.94 6.79 6.79 0 0 0-8.94 0 6.79 6.79 0 0 0-1.65 4.94 6.83 6.83 0 0 0 1.62 4.86zm.53-19.33a5.29 5.29 0 0 0 4 1.46 4.92 4.92 0 0 0 5.34-5.24 5.37 5.37 0 0 0-1.39-3.94 5.28 5.28 0 0 0-4-1.43 5.35 5.35 0 0 0-4 1.43 5.3 5.3 0 0 0-1.42 3.94 5.2 5.2 0 0 0 1.47 3.78zM602.6 36.8v-5.7a36.27 36.27 0 0 0 5.52-.53 7.83 7.83 0 0 0 4.1-2.22 7.34 7.34 0 0 0 1.63-3 6.72 6.72 0 0 0 .32-1.7h7V66.1h-8.56V36.8zM634.65 53.1a9.48 9.48 0 0 0 .82 4.21q1.51 3.08 5.52 3.08a6.12 6.12 0 0 0 4.28-1.68 6.27 6.27 0 0 0 1.85-4.89c0-2.8-1.13-4.66-3.39-5.6a17.06 17.06 0 0 0-6.07-.79v-6a15.69 15.69 0 0 0 5.66-.79q2.77-1.23 2.77-5a5.57 5.57 0 0 0-1.41-3.95 5.18 5.18 0 0 0-4-1.53 5 5 0 0 0-4.35 1.94 7.93 7.93 0 0 0-1.33 5h-7.79a21.23 21.23 0 0 1 1.08-6 13.57 13.57 0 0 1 3.22-4.6 11.17 11.17 0 0 1 3.89-2.28 16.76 16.76 0 0 1 5.53-.79q6.09 0 9.82 3.15a10.48 10.48 0 0 1 3.73 8.45 9.37 9.37 0 0 1-2.22 6.33 7.68 7.68 0 0 1-2.93 2.19c.76 0 1.85.66 3.28 2a10.47 10.47 0 0 1 3.19 8.08 13.6 13.6 0 0 1-3.68 9.47q-3.78 4-11.1 4.05-9 0-12.53-5.89a17.42 17.42 0 0 1-2-8.2zM709.12 57.74q1.78-4.24 8.44-9a62.13 62.13 0 0 0 7.47-5.92 8.74 8.74 0 0 0 2.61-6.09 6.76 6.76 0 0 0-1.5-4.49 5.25 5.25 0 0 0-4.28-1.78c-2.53 0-4.26.94-5.18 2.84a14 14 0 0 0-.94 5.21h-8.11a20.48 20.48 0 0 1 2-8.76q3.35-6.34 11.88-6.35 6.61.01 10.61 3.7a12.91 12.91 0 0 1 4 9.89 13.37 13.37 0 0 1-2.82 8.38 28.09 28.09 0 0 1-6.07 5.42l-3.35 2.37c-2.09 1.49-3.53 2.56-4.3 3.22a9.66 9.66 0 0 0-2 2.32h18.55v7.4h-29.01a20 20 0 0 1 2-8.36zM765.86 29.03q3.26 5.72 3.26 16.23t-3.27 16.2q-3.25 5.69-11.38 5.69t-11.35-5.69q-3.27-5.69-3.27-16.2t3.27-16.23q3.27-5.72 11.38-5.71t11.36 5.71zm-16.3 27.44q1.2 3.88 4.92 3.88t4.88-3.88a41.56 41.56 0 0 0 1.16-11.21q0-7.66-1.16-11.37a4.73 4.73 0 0 0-4.88-3.69 4.79 4.79 0 0 0-4.92 3.69q-1.2 3.7-1.2 11.37a40.11 40.11 0 0 0 1.2 11.21zM852.12 56.95h-4.8v9.15h-8.2v-9.15h-16.8v-7.29l15.61-25.78h9.38v26.54h4.81zm-13-6.53V32.1l-10.6 18.3zM881.17 29.03q3.27 5.72 3.27 16.23t-3.27 16.2q-3.27 5.69-11.38 5.69t-11.38-5.69q-3.29-5.69-3.29-16.2t3.27-16.23q3.26-5.72 11.38-5.71t11.4 5.71zm-16.3 27.44q1.2 3.88 4.92 3.88t4.88-3.88a41.63 41.63 0 0 0 1.15-11.21q0-7.66-1.15-11.37a4.73 4.73 0 0 0-4.88-3.69 4.79 4.79 0 0 0-4.92 3.69q-1.2 3.7-1.2 11.37a40.11 40.11 0 0 0 1.2 11.21zM940.21 36.8v-5.7a36.27 36.27 0 0 0 5.52-.53 7.8 7.8 0 0 0 4.09-2.22 7.35 7.35 0 0 0 1.64-3 7.21 7.21 0 0 0 .32-1.7h7V66.1h-8.55V36.8zM987.88 29.03q3.24 5.72 3.24 16.23t-3.26 16.2q-3.27 5.69-11.39 5.69t-11.35-5.69q-3.27-5.69-3.26-16.2t3.26-16.23q3.27-5.72 11.38-5.71t11.38 5.71zm-16.31 27.44q1.2 3.88 4.92 3.88t4.88-3.88a41.56 41.56 0 0 0 1.16-11.21q0-7.66-1.16-11.37a4.73 4.73 0 0 0-4.88-3.69 4.79 4.79 0 0 0-4.92 3.69q-1.2 3.7-1.2 11.37a40.11 40.11 0 0 0 1.2 11.21zM1020.2 29.03q3.27 5.72 3.27 16.23t-3.27 16.2q-3.27 5.69-11.38 5.69t-11.38-5.69q-3.27-5.69-3.27-16.2t3.27-16.23q3.25-5.72 11.38-5.71t11.38 5.71zm-16.3 27.44q1.2 3.88 4.92 3.88t4.88-3.88a41.63 41.63 0 0 0 1.15-11.21q0-7.66-1.15-11.37a4.73 4.73 0 0 0-4.88-3.69 4.79 4.79 0 0 0-4.92 3.69q-1.2 3.7-1.2 11.37a40.11 40.11 0 0 0 1.2 11.21zM1083.61 24.7a15.29 15.29 0 0 1 8.49-2.23 18.28 18.28 0 0 1 11 3.16q4.38 3.16 4.38 9.38a10.6 10.6 0 0 1-1.89 6.41 21.82 21.82 0 0 1-4.27 4l-2.07 1.68a6.29 6.29 0 0 0-2.25 3.07 12.84 12.84 0 0 0-.38 3.46h-7.94a22.72 22.72 0 0 1 .93-6.84q.77-1.89 3.91-4.35l2.14-1.67a7.45 7.45 0 0 0 1.69-1.73 5.87 5.87 0 0 0 1.17-3.54 6.82 6.82 0 0 0-1.3-4.06q-1.3-1.83-4.75-1.83t-4.81 2.25a8.76 8.76 0 0 0-1.42 4.69h-8.46q.34-8.36 5.83-11.85zm4.86 32.93h8.76v8.47h-8.76zM1186.44 34.21a9.58 9.58 0 0 1 5.42-1.52 9.32 9.32 0 0 1 7.76 3.41 13.16 13.16 0 0 1 2.7 8.49 13.69 13.69 0 0 1-2.62 8.65q-2.62 3.34-7.84 3.35a9.07 9.07 0 0 1-5.92-2.23 18.5 18.5 0 0 1-3.69-4.45 15.16 15.16 0 0 1-4.71 5 10.63 10.63 0 0 1-5.82 1.71c-3.47 0-6-1.12-7.68-3.38a14.28 14.28 0 0 1-2.47-8.66 12.8 12.8 0 0 1 2.78-8.47 9.06 9.06 0 0 1 7.37-3.37 10 10 0 0 1 5.18 1.44 15.66 15.66 0 0 1 4.79 5.1 19.16 19.16 0 0 1 4.75-5.07zm-10.72 14.74a17.51 17.51 0 0 0 2.72-4.43 15.22 15.22 0 0 0-3-4.44 5.41 5.41 0 0 0-3.67-1.23 3.75 3.75 0 0 0-3 1.58 6.37 6.37 0 0 0-1.25 4.09 7.07 7.07 0 0 0 1.18 4.3 3.69 3.69 0 0 0 3.11 1.6 5.14 5.14 0 0 0 3.91-1.47zm19.61-8.56a4.21 4.21 0 0 0-3.47-1.54 4.46 4.46 0 0 0-3.35 1.18 18.44 18.44 0 0 0-2.8 4.63 19.73 19.73 0 0 0 2.68 4.27 4.39 4.39 0 0 0 3.47 1.49 4.13 4.13 0 0 0 3.49-1.62 7 7 0 0 0 1.23-4.35 6.27 6.27 0 0 0-1.25-4.06zM1294.31 60l11.71-1.5a.78.78 0 0 1 .8.42v.47q0 .7-11.81 3.37l-4.17 1.55v.47a1.07 1.07 0 0 1-.51 1h-17.31a1 1 0 0 1-.56-1v-.28l.14-.1v-.09q-13.55-3.7-15.23-4.5l-.1-.56v-.15a.7.7 0 0 1 .75-.47c1.85.25 5.13.68 9.85 1.27a47.09 47.09 0 0 1-6.61-24.47c0-1.41.59-2.11 1.78-2.11h37.08a1 1 0 0 1 1.08 1.12h1.78c3.16 0 4.74 1.46 4.74 4.36a34.4 34.4 0 0 1-2.86 13.55q-1.08 1.75-4.74 2.75-1.74 3.13-3.94 3.14h-.23l-.56-.19zm-32.44-24.61a36.51 36.51 0 0 0 .51 6.14h38a46.49 46.49 0 0 0 .47-6.14.87.87 0 0 0-1-1h-36.94a1.19 1.19 0 0 0-1.04 1zm1.12 8.62a9 9 0 0 0 .52 2h35.95a7.17 7.17 0 0 0 .52-2zm1.13 4.09a5.14 5.14 0 0 0 .7 1.92h33.3a13.57 13.57 0 0 0 .75-1.92zm5.11 11.91a143.82 143.82 0 0 0 23.86.09q1.13-.7 4.17-7.36h-31.73a35.18 35.18 0 0 0 3.65 7.26zm10.27-60h.28a11.67 11.67 0 0 1-1.62 5.44 14.53 14.53 0 0 0-1.66 6.84q0 5 2.25 7.31t2.37 10.12h-.28a19.91 19.91 0 0 0-4.22-10.88 14.36 14.36 0 0 1-1.41-5.48q-.09-4.78 1.78-7.48a15.3 15.3 0 0 0 2.46-5.88zm8.67 22a10.22 10.22 0 0 1-.85 3.42 13.43 13.43 0 0 0-2.43 6.8h-.19q.09-4.83 1.41-6.33a6.77 6.77 0 0 0 1.31-4.55 9.4 9.4 0 0 0-.94-4.33 7.71 7.71 0 0 1-.94-3.4h.19a9.53 9.53 0 0 0 1.41 3.68 8.41 8.41 0 0 1 .98 4.73zm13.36 13.5c0 .84-.07 1.73-.1 2.67h1.69c1.29 0 1.93.69 1.93 2.06q0 5.73-2.25 9.1a5.24 5.24 0 0 1-4.13 1.78 55.12 55.12 0 0 1-2.72 5.86h.24c1.28 0 2.34-.85 3.18-2.53a16.53 16.53 0 0 1 4.18-2c1.18-1.28 2.11-3.58 2.76-6.89a32.16 32.16 0 0 0 .75-7.08q0-3-3.94-3zm-.24 3.8a42.79 42.79 0 0 1-2.2 10.68q2.86 0 4.45-3.42a16.77 16.77 0 0 0 .94-6.51q0-.75-1.08-.75z"/>%3C/svg>');
  --rvi-ind: -2.5%;
  -webkit-mask: var(--rvi-mask) no-repeat var(--rvi-ind) 31%/auto 53%;
}

.rvi-dck > li:nth-of-type(2) > label {
  --rvi-ind: 4.9%;
}

.rvi-dck > li:nth-of-type(3) > label {
  --rvi-ind: 12.7%;
}

.rvi-dck > li:nth-of-type(4) > label {
  --rvi-ind: 19.4%;
}

.rvi-dck > li:nth-of-type(5) > label {
  --rvi-ind: 26.2%;
}

.rvi-dck > li:nth-of-type(6) > label {
  --rvi-ind: 33.1%;
}

.rvi-dck > li:nth-of-type(7) > label {
  --rvi-ind: 39.95%;
}

.rvi-dck > li:nth-of-type(8) > label {
  --rvi-ind: 47.8%;
}

.rvi-dck > li:nth-of-type(9) > label,
.rvi-dck > li:nth-of-type(10) > label {
  --rvi-ind: 56.9%;
}

.rvi-dck > li:nth-of-type(10) > label {
  --rvi-ind: 66.4%;
}

.rvi-dck > li:nth-of-type(11) > label {
  --rvi-ind: 76.95%;
}

.rvi-dck > li:nth-of-type(12) > label {
  --rvi-ind: 86.05%;
}

.rvi-dck > li:nth-of-type(13) > label {
  --rvi-ind: 93.35%;
}

.rvi-dck > li:nth-of-type(14) > label {
  --rvi-ind: 101.6%;
}

.cn:checked ~ main .rvi-dck {
  padding: 0;
  height: 0;
}

.cn:checked ~ main .rvi-dck:before {
  content: "";
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

#c1:checked ~ main .rvi-dck li:nth-of-type(1),
#c2:checked ~ main .rvi-dck li:nth-of-type(2),
#c3:checked ~ main .rvi-dck li:nth-of-type(3),
#c4:checked ~ main .rvi-dck li:nth-of-type(4),
#c5:checked ~ main .rvi-dck li:nth-of-type(5),
#c6:checked ~ main .rvi-dck li:nth-of-type(6),
#c7:checked ~ main .rvi-dck li:nth-of-type(7),
#c8:checked ~ main .rvi-dck li:nth-of-type(8),
#c9:checked ~ main .rvi-dck li:nth-of-type(9),
#c10:checked ~ main .rvi-dck li:nth-of-type(10),
#c11:checked ~ main .rvi-dck li:nth-of-type(11),
#c12:checked ~ main .rvi-dck li:nth-of-type(12),
#c13:checked ~ main .rvi-dck li:nth-of-type(13),
#c14:checked ~ main .rvi-dck li:nth-of-type(14) {
	display: flex;
	position: absolute;
	z-index: 3;
	width: auto;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	justify-content: center;
	align-items: center;
  margin: 0;
  transform: translateY(-50%);
}

footer {
  hyphens: none;
  padding: var(--rvi-pad);
  display: flex;
}

footer label {
  display: inline-block;
  min-width: 1em;
  transform: var(--rvi-scl);
  text-align: center;
}

footer div label {
  position: relative;
  left: var(--rvi-pad);
  transform: translateX(50%) var(--rvi-scl);
}

footer nav label > span {
  display: inline-block;
  transition: transform var(--rvi-jif);
  transform: rotate(0deg);
}

#d1:checked ~ footer nav label > span {
  transform: rotate(-180deg);
}

footer label + div {
  position: fixed;
  z-index: 2;
  top: auto;
  right: auto;
  bottom: calc(3 * var(--rvi-pad) );
  left: 100%;
  background-color: #000;
  white-space: nowrap;
  transition: transform var(--rvi-jif);
}

footer > * {
  flex-grow: 1;
  text-align: right;
  padding: 0 var(--rvi-pad);
  flex-basis: 50%;
}

footer a {
  display: block;
  text-decoration: none;
  padding-top: .5em;
  text-align: right;
}

footer nav ul {
  padding: 0 var(--rvi-pad);
  margin: 0;
}

footer nav li {
  display: block;
  padding-bottom: .5em;
}

#d1:checked ~ footer nav label + div {
  transform: translateX(-100%);
}

.dn,
.cn,
.bn,
footer div label,
#b0:checked ~ #b1:checked ~ #b2:checked ~ footer div label,
#b0:checked ~ footer div label,
#b1:checked ~ #b2:checked ~ footer div label[for="b2"],
#b0:checked ~ #b1:checked ~ footer div label,
#b2:checked ~ footer div label,
[value="yb"] {
  position: absolute;
  top: -9999px;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[value="yb"] ~ label {
  text-align: right;
  padding: var(--rvi-pad);
}

[value="yb"] ~ label:before {
  content: "☐";
  padding: 0 .1em;
  margin: 0 .1em;
  font-size: 1.3em;
}

[value="yb"]:checked ~ label:before {
  content: "☑︎";
}

[value="yb"] ~ label,
[value="yb"]:checked ~ header ~ *:before,
[value="yb"]:checked ~ * *:before,
[value="yb"]:checked ~ * *:after,
[value="yb"]:checked ~ * a,
[value="yb"]:checked ~ main li,
[value="yb"]:checked ~ footer,
[value="yb"]:checked ~ button {
  color: #ff0;
  background-color: transparent;
}

[value="yb"]:checked ~ button {
  background-color: #000;
}

[value="yb"]:checked ~ main li {
	border-color: #ff0;
  background-color: #000;
  background-image: none;
}

[value="yb"]:checked ~ main .rvi-dck > li:after,
[value="yb"]:checked ~ main .rvi-dck > li > label {
  background-color: #ff0;
}

[value="yb"]:checked ~ main .rvi-dck > li:after {
  border-color: transparent;
}

/* Normal mode */
#b0:checked ~ #b1:checked ~ #b2:checked ~ main {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

footer label[for="b0"],
#b0:checked ~ #b1:checked ~ #b2:checked ~ footer label[for="b0"],
#b0:checked ~ footer label[for="b1"],
#b1:checked ~ #b2:checked ~ footer label[for="b1"],
#b0:checked ~ #b1:checked ~ footer label[for="b2"],
#b2:checked ~ footer label[for="b2"] {
  position: relative;
  top: 0;
  margin: auto;
  width: auto;
  height: auto;
  overflow: hidden;
  display: inline-block;
}

/* Right hand mode */
#b0:checked ~ main,
#b1:checked ~ #b2:checked ~ main {
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: var(--rvi-han);
  margin-right: 0;
}

/* Left hand mode */
#b0:checked ~ #b1:checked ~ main,
#b2:checked ~ main {
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 0;
  margin-right: var(--rvi-han);
}

.cn:checked ~ #b0:checked ~ main,
.cn:checked ~ #b1:checked ~ #b2:checked ~ main,
.cn:checked ~ #b0:checked ~ #b1:checked ~ main,
.cn:checked ~ #b2:checked ~ main {
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.cn:checked ~ footer label + div {
  display: none;
}

.rvi-nag {
  font-size: 1em;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  padding: 1em;
  border: none;
  color: #fff;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}

@media (min-aspect-ratio: 70/107) {

  .rvi-dck {
    width: calc( (100vh * var(--rvi-ratio)) - (6 * var(--rvi-pad) ) );
  }

}

@media screen and (max-width: 22.5em) {

  body {
    overflow-x: scroll;
  }

  body,
  .rvi-dck {
    width: 22.5em;
  }

}

@media screen and (max-height: 22.5em) {

  body {
    overflow-y: scroll;
  }

  .rvi-dck {
    width: calc( (22.5em * var(--rvi-ratio)) - (6 * var(--rvi-pad) ) );
  }

}

@media (prefers-color-scheme: dark) {

  body,
  .rvi-dck > li {
    color: #e0e0e0;
  }

  .rvi-dck > li {
    background-color: #161616;
	  background-image: var(--rvi-tvl), var(--rvi-rnb);
    background-position: 50% 0, 50% 0, 50% 100%;
    border-color: #e0e0e0;
  }

  .rvi-dck > li > label {
    color: #e0e0e0;
    background-color: #e0e0e0;
  }

  .rvi-dck > li:before,
  .rvi-dck > li:after {
    background-color: #e0e0e0;
  }

  [value="yb"] ~ label {
    color: #e0e000;
  }

}

@media print {

  body {
    background-color: transparent;
    display: block;
  }

  .rvi-dck {
    text-align: left;
  }

  .rvi-dck li {
    width: 2.5in;
    text-align: center;
  }

  [value="yb"],
  [value="yb"] + label,
  footer {
    display: none;
  }

}
